
@model IEnumerable<SportsWebApp.Models.Match>

@{
    ViewData["Title"] = "ViewUpcomingMatches";
}

<h1>ViewUpcomingMatches</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfAttendees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeClub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayClub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stadium)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfAttendees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeClub.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayClub.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stadium.Location)
            </td>

                @{
                    if(item.Stadium==null)
                    {
                        <td>
                            <a asp-action="SendHostRequest" asp-route-id="@item.Id">Send Host Request</a>
                        </td>
                    }


            }
        </tr>
}
    </tbody>
</table>
