@model IEnumerable<SportsWebApp.Models.HostRequest>

@{
    ViewData["Title"] = "Sent Requests";
}

<h1>Sent Requests</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Match!.HomeClub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match!.AwayClub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match!.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match!.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stadium)
            </th>
            <th>
                Request Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Match!.HomeClub!.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Match!.AwayClub!.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Match!.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Match!.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stadium!.Name)
                </td>
                <td>
                    @((item.IsApproved != null) ? (item.IsApproved == true ? "Approved" : "Rejected") : "Unhandled")
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to dashboard</a>
</div>

