@model IEnumerable<SportsWebApp.Models.Club>

@{
    ViewData["Title"] = "Clubs";
}

<div class="table-responsive">
    <table class="table table-bordered">
        <caption>List of all clubs</caption>
        <thead class="thead-light">
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Location)</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var club in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(x => club.Name)</td>
                    <td>@Html.DisplayFor(x => club.Location)</td>
                    <td><a asp-action="DeleteClub" asp-route-id="@club.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Index">Back to dashboard</a>
</div>