@model IEnumerable<SportsWebApp.Models.HostRequest>

@{
    ViewData["Title"] = "ViewRequests";
}

<h1>ViewRequests</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Club Representative Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match.HomeClub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match.AwayClub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match.EndTime)
            </th>
            <th>
                Stadium Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.ClubRepresentative.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Match.HomeClub.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Match.AwayClub.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Match.StartTime)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Match.EndTime)
            </td>
            
            <td>
                    @Html.DisplayFor(modelItem => item.Stadium.Name)
            </td>
            <td>
                    @item.IsApproved
            </td>
            <td>
                    @{
                        if (item.IsApproved == null)
                            {
                                <a asp-action="AcceptRequest" asp-route-id="@item.Id">Accept Request | </a>
                                <a asp-action="RejectRequest" asp-route-id="@item.Id">Reject Request</a>
                            }

                     }
                
            </td>
        </tr>
}
    </tbody>
</table>
