@model IEnumerable<SportsWebApp.Models.HostRequest>

@{
    ViewData["Title"] = "Host Requests";
}

<h1>Host Requests</h1>

@{
    if (TempData["Message"] != null)
    {
        <h3 class="text-primary">@TempData["Message"]</h3>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                Club Representative Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match!.HomeClub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match!.AwayClub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match!.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match!.EndTime)
            </th>
            <th>
                Stadium Name
            </th>
            <th>
                Request Status
            </th>
            <th>
                Handle Request
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.ClubRepresentative!.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Match!.HomeClub!.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Match!.AwayClub!.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Match!.StartTime)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Match!.EndTime)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Stadium!.Name)
            </td>
            <td>
                    @(item.IsApproved == null ? "Unhandled" : item.IsApproved == true ? "Approved" : "Rejected")
            </td>
            <td>
                    @{
                        if (item.IsApproved == null)
                            {
                                <a asp-action="AcceptRequest" asp-route-id="@item.Id">Approve Request | </a>
                                <a asp-action="RejectRequest" asp-route-id="@item.Id">Reject Request</a>
                            }

                     }
                
            </td>
        </tr>
}
    </tbody>
</table>
