@model SportsWebApp.Models.StadiumManager

@{
    ViewData["Title"] = "Stadium Info";
}

<h1>Stadium Info</h1>


<div>
    <h4>Stadium</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stadium.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stadium.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stadium.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stadium.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stadium.Capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stadium.Capacity)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index">Back to dashboard</a>
</div>
