@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<h2>Create a new account.</h2>
<hr />

<div>
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Input.UserType" class="control-label"></label>
                    <select asp-for="Input.UserType" class="form-control" asp-items="@Model.UserTypes"></select>
                    <span asp-validation-for="Input.UserType" class="text-danger"></span>
                    <br />
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="username" />
                    <label asp-for="Input.Username"></label>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Name" class="form-control" aria-required="true" placeholder="Full Name" />
                    <label asp-for="Input.Name"></label>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            </div>
            <div class="col-md-4">
                <h4>If you're a Fan:</h4>
                <hr />
                <div class="form-floating mb-3">
                    <input asp-for="Input.NationalId" class="form-control" aria-required="true" placeholder="National ID" />
                    <label asp-for="Input.NationalId"></label>
                    <span asp-validation-for="Input.NationalId" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" placeholder="Phone Number" />
                    <label asp-for="Input.PhoneNumber"></label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.DateOfBirth" class="form-control" aria-required="true" placeholder="Date of Birth" />
                    <label asp-for="Input.DateOfBirth"></label>
                    <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Address" class="form-control" aria-required="true" placeholder="Address" />
                    <label asp-for="Input.Address"></label>
                    <span asp-validation-for="Input.Address" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <h4>If you're a Club Representative:</h4>
                <hr />
                <div class="form-group">
                    <label asp-for="Input.ClubId" class="control-label"></label>
                    <select asp-for="Input.ClubId" class="form-control" asp-items="@Model.Clubs"></select>
                    <span asp-validation-for="Input.ClubId" class="text-danger"></span>
                    <br />
                </div>
                <h4>If you're a Stadium Manager:</h4>
                <hr />
                <div class="form-group">
                    <label asp-for="Input.StadiumId" class="control-label"></label>
                    <select asp-for="Input.StadiumId" class="form-control" asp-items="@Model.Stadiums"></select>
                    <span asp-validation-for="Input.StadiumId" class="text-danger"></span>
                    <br />
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
