@model SportsWebApp.Models.Match

@{
    ViewData["Title"] = "Purchase Ticket";
}

<h1>Purchase Ticket</h1>
<br />
<h3>Are you sure you want to purchase a ticket for this match?</h3>
<br />
<div class="table-responsive">
    <h4>Match</h4>
    <table class="table table-bordered">
        <caption>Match details</caption>
        <thead class="thead-light">
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.HomeClub)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.AwayClub)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.StartTime)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.EndTime)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Stadium)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.NumberOfAttendees)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@((Model.HomeClub != null) ? Html.DisplayFor(x => Model.HomeClub.Name) : "-")</td>
                <td>@((Model.AwayClub != null) ? Html.DisplayFor(x => Model.AwayClub.Name) : "-")</td>
                <td>@Html.DisplayFor(model => model.StartTime)</td>
                <td>@Html.DisplayFor(model => model.EndTime)</td>
                <td>@((Model.Stadium != null) ? Html.DisplayFor(x => Model.Stadium.Name) : "TBD")</td>
                <td>@Html.DisplayFor(model => model.NumberOfAttendees)</td>
            </tr>
        </tbody>
    </table>
    <form asp-action="PurchaseTicket">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Buy" class="btn btn-primary" /> |
        <a asp-action="ViewAvailableMatches">Back to list</a>
    </form>
</div>