@model IEnumerable<SportsWebApp.Models.Ticket>

@{
    ViewData["Title"] = "All Tickets";
}

<h1>All Tickets</h1>
<br />
<div class="table-responsive">
    <table class="table table-bordered">
        <caption>List of all tickets you purchased</caption>
        <thead class="thead-light">
            <tr>
                <th scope="col">Ticket ID</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Match!.HomeClub)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Match!.AwayClub)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Match!.StartTime)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Match!.EndTime)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Match!.Stadium)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Match!.HomeClub!.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Match!.AwayClub!.Name)
                    </td>
                    <td>
                        @item.Match!.StartTime.ToString("F")
                    </td>
                    <td>
                        @item.Match!.EndTime.ToString("F")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Match!.Stadium!.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Index">Back to dashboard</a>
</div>