@model IEnumerable<SportsWebApp.Models.Match>

@{
    ViewData["Title"] = "Available Matches";
}

<h1>All Available Matches</h1>

@{
    if (TempData["Message"] != null)
    {
        <h3 class="text-primary">@TempData["Message"]</h3>
    }
}

<div class="table-responsive">
    <table class="table table-bordered">
        <caption>List of all available match you can attend</caption>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.HomeClub)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AwayClub)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stadium)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfAttendees)
                </th>
                <th>
                    Available Tickets
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeClub!.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AwayClub!.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stadium!.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfAttendees)
                </td>
                <td>
                    @((item.Stadium!.Capacity - item.NumberOfAttendees))
                </td>
                <td>
                    <a asp-action="PurchaseTicket" asp-route-id="@item.Id">Buy</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
    <a asp-action="Index">Back to dashboard</a>
</div>
