@model IEnumerable<SportsWebApp.Models.Match>

@{
    ViewData["Title"] = "ViewAvailableMatches";
}

<h1>ViewAvailableMatches</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfAttendees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeClub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayClub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stadium)
            </th>
            <th>
                <a>Available Tickets</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfAttendees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeClub!.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayClub!.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stadium!.Location)
            </td>
            <td>
                @((item.Stadium!.Capacity-item.NumberOfAttendees))
            </td>
            <td>
                    <a asp-action="PurchaseTicket" asp-route-id="@item.Id">Buy</a>
            </td>
        </tr>
}
    </tbody>
</table>
